body {
  background-color: #51dacf;
  background-size: cover;
  font-family: "Lato", sans-serif;
}

div.appContainer {
  position: relative;
  border-radius: 15px;
  background-color: rgb(72, 130, 158, 0.7);
  border: solid 5px #51dacf;
  box-shadow: #000 0px 3px 8px 0px;
  max-width: 850px;
  margin: 0 auto;
  margin-top: 5%;
  margin-bottom: 2%;
  padding: 0% 2%;
}

div.topRow {
  margin-top: 3%;
}
input.form-control {
  border: solid 2px #48829e;
  box-shadow: #000 0px 2px 4px 0px;
}

button {
  border-radius: 15px;
  box-shadow: #000 0px 2px 4px 0px;
  border: solid 1px #48829e;
  display: block;
  font-size: 26px;
  margin: 0 auto;
  cursor: pointer;
  transition: all 200ms ease-in-out;
}
button.search {
  padding: 1% 40%;
  background-color: #48829e;
  color: #fff;
}
button.search:hover {
  background-color: #fff;
  border: solid 2px #48829e;
  color: #48829e;
}
button.currentLocation {
  padding: 1% 40%;
  display: left;
  background-color: #51dacf;
  color: #fff;
}
button.currentLocation:hover {
  background-color: #fff;
  border: solid 2px #51dacf;
  color: #51dacf;
}

h2.dateTime {
  font-size: 28px;
  font-family: "Roboto", sans-serif;
  margin-top: 2%;
  margin-bottom: 3%;
}

h1.cityDisplay,
h1.currentTemp {
  font-weight: bolder;
  font-size: 46px;
  text-align: left;
}

h1.currentTemp,
.units {
  font-size: 46px;
  text-align: left;
}

.description {
  text-transform: capitalize;
}

span.units {
  font-size: 20px;
  position: relative;
  top: -26px;
  word-spacing: 0;
  font-weight: bold;
}
.units .active {
  color: #000;
  cursor: default;
  text-decoration: none;
}

.units .active:hover {
  text-decoration: none;
}

a {
  color: #000;
  text-decoration: none;
}
a:hover {
  text-decoration: underline;
  color: #51dacf;
  cursor: pointer;
}

.details {
  font-family: "Roboto", sans-serif;
  list-style-type: none;
  text-align: right;
  font-size: 20px;
}

.cardForecast {
  display: block;
  margin: 0 auto;
  margin-top: 2%;
  margin-bottom: 3%;
  border: solid 2px #48829e;
  background-color: rgb(81, 218, 287, 0.5);
  background: linear-gradient(
    135deg,
    rgb(245, 255, 195) 5%,
    rgb(125, 216, 199) 30%,
    rgb(80, 154, 175) 70%
  );
  border-radius: 15px;
  max-width: 350px;
  text-align: center;
  font-size: 22px;
  font-family: "Roboto", sans-serif;
  box-shadow: #000 0px 2px 4px 0px;
}

span.forecastLow {
  opacity: 0.7;
}
.sun {
  color: gold;
}
.cloudy {
  color: #fff;
}
.rainy {
  color: royalblue;
}

.end {
  color: #000;
  text-align: center;
  font-family: "Lato", sans-serif;
  font-size: 18px;
  margin-top: 0%;
  font-weight: bold;
}

.myProfile {
  text-align: center;
  text-decoration: underline;
  color: #000;
}
.myProfile:hover {
  color: #e8ffb1;
  text-decoration: none;
}
